@model Api_Oficina.Models.Cadastropecas

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Tem certeza que deseja deletar?</h3>
<div>
    <h4>Cadastro de Peças</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nomepeca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nomepeca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipopeca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipopeca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valorpeca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valorpeca)
        </dd>
    </dl>
    
    <form asp-action="Deletar">
        <input type="hidden" asp-for="CadastropecasId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-danger">Voltar</a>
    </form>
</div>
