@model IEnumerable<Api_Oficina.Models.Cadastropecas>

@{
    ViewData["Title"] = "Index";
}

<h1>Peças</h1>

<p>
    <a asp-action="Create" class="btn alert-success">Adicionar uma peça nova</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nomepeca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipopeca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valorpeca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nomepeca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipopeca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valorpeca)
            </td>
            <td>
                    <a class="btn-outline-info" asp-action="Edit" asp-route-id="@item.CadastropecasId">Editar</a> |
                    <a class="btn-outline-info" asp-action="Details" asp-route-id="@item.CadastropecasId">Detalhes</a> |
                    <a class="btn-outline-info" asp-action="Delete" asp-route-id="@item.CadastropecasId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
