@model Api_Oficina.Models.Cadastrovendedor

@{
    ViewData["Title"] = "Details";
}
<h1>Detalhes</h1>

<div>
    <h4>Cadastrar Vendedor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nomevendedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nomevendedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpfvendedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpfvendedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emailvendedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emailvendedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datanascimentovendedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datanascimentovendedor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CadastrovendedorId" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-danger">Voltar</a>
</div>
